body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-collapse
{
  margin-left: 70%;
}

.main-content
{  
  margin-top: 50px;
  display: flex;
}

.main-content-right
{
  padding: 50px;
}

.main-content-left
{
  padding: 50px;
}

.main-pic
{
width: 600px;
height: 600px;
}

.welcome-header 
{
  font-size: 90px;
}

.welcome-header
{
  font-size: 75px;
}

p
{
  font-size: 20px;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.custom-link {
  text-decoration: none;
  color: inherit;
}

.form-control
{
  width: 300px !important;
}

.sign-up-div, .sign-up-part
{
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  place-items: center;
}

.no-account-button
{
  width: 40% !important;
  color: green !important;
  background-color: white !important;
  transition: transform 0.5s ease-in-out !important;

}

.no-account-button:hover
{
  transform: scale(1.1) !important;
}
.sign-in-inputs
{
  margin-top: 50px;
  margin-bottom: 30px;
}

.log-in-button
{
  width: 20%;
}

.alert-success
{
  width: 70% !important;
  margin: auto;
  margin-top: 15px;
}

